<<<<<<< HEAD
.mainContainer{
    margin-top: 17rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
=======

.mainContainer{
    background-image: url("public/assets/banner3.png");
    height: 70rem;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-top: 2rem;
>>>>>>> 925ee2dfb18893167460067219b896c7352766b6
}

.containerMainText{
    width: 50%;
    margin-left: 27rem;
<<<<<<< HEAD
=======
    padding-top: 16rem;
>>>>>>> 925ee2dfb18893167460067219b896c7352766b6
}


.titleMain{
    font-size: 5rem;
    width: 60rem;
}

.txtMain{
    color: var(--black);
    font-size: 1.8rem;
    margin-top: 2rem;
    width: 60rem;
}

.btnMain {
    background-color: var(--red);
    text-align: center;
<<<<<<< HEAD
    font-size: 1.8rem;
=======
    /* font-size: 1.8rem; */
>>>>>>> 925ee2dfb18893167460067219b896c7352766b6
    color:white;
    height: 6rem;
    width: 25rem;
    margin-top: 5rem;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
<<<<<<< HEAD
}



.red {
    color: var(--red);
    background: none;
}

.containerMainImage{
    margin-right: 20rem;
}

.imgMain{
    width: 70rem;
    margin-top: -5rem;
    border-radius: 10rem;
}

=======
    transition: 0.5s;
}

.btnMain:hover{
    background-color: #a4010f;
}
.contIconos{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: fixed;
    left: 95%;
}
.iconoStatic{
    width: 4rem;
}


>>>>>>> 925ee2dfb18893167460067219b896c7352766b6
