@import 'react-bootstrap-range-slider/dist/react-bootstrap-range-slider.css';

/*clases Temporales -- Luego se borra... capaz*/
.contenedorTemporal {
    display:flex;
    flex-direction: column;

}

.formAlito {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width:100%;
    align-items: center;
}



.formAlitoRow1 { 
    display: flex;
    flex-direction:row;
    justify-content:center;
    width:100%;
    height:50%;
    align-items: center;
}
.formAlitoRow2 { 
    display: flex;
    flex-direction:row;
    justify-content:center;
    width:100%;
    height:50%;

    align-items: center;


}

.elementForm{
    margin:2%;
    width: 33%;
    display: flex;
    justify-content: center;
}
.rangeSliderPriceMin, .rangeSliderPriceMax{
    margin:2%;
    width: 80%;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.buttonForm {
    margin:2%;
    width: 33%;
    display: flex;
    justify-content: center;
}
/*clases Temporales -- Luego se borra... Capaz*/

.barContainer {
    display: flex;
    flex-direction:row;
    justify-content: center;
}

.barContainer {

    border: 1px solid rgb(129, 126, 126);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80rem;
    border-radius: 2rem;

    
}

.ulForm {
    display: flex;
    flex-direction:row;
    justify-content: center;
    width:100%;
    align-items:center;
}

.liForm {
    margin:2%;
    width: 25%;
    display: flex;
    justify-content: center;

}

.buttonSearch {
    background-color: var(--red);
    color:white;
    border:var(--red);
    width:10rem;
    height: 3rem;
    border-radius: 10rem;
}



.form-control {
    width: 100% !important;
    box-shadow: 0 0 0 0 #00000000 !important;
    border-color: #00000000 !important;
    border-bottom: 1px solid #efefef !important;
}

.form-control:focus {
    width: 100% !important;
    border-color: #13121200 !important;
    border-bottom: 1px solid var(--primary) !important;
    outline: 0;
    transition: all 0.3s ease-in;
}
