.contEstudio{
    display: flex;
    gap: 5rem;
    margin-left:  27rem;
    height: 60vh;
}
.contHistoria{
width: 30%;

}
.contFlex{
    display: flex;
}
.imagenEstudio{
    width: 50%;
    margin: 0.5rem;
    border-radius: 2rem;
   
}
.tituloPrincipal{
font-size: 4rem;
margin-bottom: 2rem;
}
.contServicios{
width: 70%;
overflow-x: hidden;
overflow-y: scroll;

}
.tituloSec{
font-size: 3rem;
margin-bottom: 2rem;
}
.tituloTerc{
font-size: 2rem;
margin: 1rem 0;
font-weight: bold;
}

