/* EN ESTE ARCHIVO .CSS SE PONDRÁN TODOS LOS ESTILOS GENERALIZADOS */
:root{

 --red: #bd212e;
 --black: #141414;
 --gray: #F5F5F5; 
 --white: #FFFFFF;
 --red-second: #a4010f;
 --gray-second: #dadada;

}


* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  
}
body{
  font-family:'Montserrat', sans-serif; 
  font-size: 1.8rem;
  color: var(--black);
}






  /* Estilos de botones  */

.btnRed, 
.btnGray{
  text-align: center;
  font-size: 1.6rem;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  transition: 0.5s;
}


  /* Estilos de botones rojos */

.btnRed{
  background-color: var(--red);
  color:white;
  height: 6rem;
  width: 20rem;
}


.btnRed:hover{
  background-color: var(--red-second);
}


 /* Estilos de botones grises */

 .btnGray{
  background-color: var(--gray);
  color: var(--black);
  height: 5rem;
  width: 14rem;
}


.btnGray:hover{
  background-color: var(--gray-second);
}

.spanRed{
    color: var(--red);
    background: none;

}