.contCard{
    width: 31rem;
    height: 45rem;
    background-color: rgb(255, 254, 254);
    border-radius: 2rem;
    box-shadow: 0px 13px 22px -8px rgba(0,0,0,0.78);
    margin-bottom: 10rem;
}
.contImg{
   width:100%;
   height:20rem ;
   
}
.tipoOperacion{
    background-color: #000000;
    position: relative;
    bottom: 18rem;
    left: 1rem;
    color: #ffffff;
    width: 6rem;
    height: 2.4rem;
    text-align: center;
    

}
.imgCard{
    width:100%;
   height:20rem ;
   border-radius: 2rem 2rem 0 0;
}
.tituloCard{
    font-size: 2rem;
}
.contContenido{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 3rem;
}
.precio{
    font-size: 2rem;
    font-weight: bold;
    color: #BD212E;
}
.especificaciones{
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    

}
.icono{
    color: #BD212E;
   margin-right: 1rem;
   text-align: center;

}