
 .conteinerImg {
    height:45%;
    width:100%;
 }
 .imagenCard {
    height:100%;
 }

 div.conteinerImg > img {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;


 }

 .tipoOperacion{
    font-size: 1.2rem;
    background-color: var(--black);
    position: relative;
    bottom: 19rem;
    left: 1rem;
    color: var(--white);
    width: 6rem;
    height: 2.4rem;
    text-align: center; 
    padding: 1rem;
    border-radius: 2rem;
}
 
.cardContainer {
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction:row;
}

/*Tamaño de pantalla */
.contCardDisplayInmuebles {
    width: 22%;
    background-color: var(--white);
    border-radius: 2rem;
    margin-bottom: 10rem;
    margin-left:1rem;
    margin-right:1rem;
    transition: 0.5s;
    box-shadow: 0 1px 1px 0 rgba(53, 53, 53, 0.2), 0 6px 20px 0 rgba(53, 53, 53, 0.2);
    list-style: none;
     
}

/*Tamaño de pantalla @media query*/
@media (max-width: 1370px ) and (min-width:801px ) {
    .contCardDisplayInmuebles {
        width: 55vh;

    }
  }
@media (max-width: 800px ) and (min-width:361px ) {
    .contCardDisplayInmuebles {
        width: 45vh;

    }
}

/*responsive 360 x 740*/  
  @media (max-width: 360px) {
    .contCardDisplayInmuebles {
        width: 40vh;

    }
  }  

.iconosP {
    display:flex;
    flex-direction:row;
    align-items: center;
}

.tipoInmuebleClass, .departamentoClass{
    color:var(--red);
    font-weight: 500;
}

#idContContenido{
    margin-top:1rem;
    height: 20%;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.tituloCard{
    font-size: 1.6rem;
    margin-top: 3rem;
}

hr{
    color: var(--gray);
}

.contCardDisplayInmuebles {
    transition: 0.5s;
    background: white;
  }
  
 
  
  .contCardDisplayInmuebles:hover {
    transform: scale(1.05);
    background: #fff;
  }

 .masInformacion {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
    margin-top:2.5rem;
 }
 div.masInformacion > p {
    font-weight:50;
 }
 .masInformacion {
    transition: 0.5s;
    background: #fff;

  }

 .masInformacion:hover {
    transform: scale(1.05);
    /* background: var(--red);
    color:white; */
  }

 .iconoArrow{
    color:var(--red);
    margin-left: 1rem;
    text-align: center;
 }
  